<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       予約詳細一覧
      </h1>
    </div>
  </div>
</section>

<div class="complete">
  <table border="1" align="center">
    <thead>
      <tr align="center">
        <th>ルーム名</th>
        <th>利用人数</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>合計料金</th>
      </tr>
    </thead>
    <% @rooms.zip(@reservations) do |room, reservation| %>
    <tr>
    　<td width="200" height="50" align="center"><%= room.title %></td>
      <td width="150" height="50" align="center"><%= reservation.people %></td>
      <td width="150" height="50" align="center"><%= reservation.start_date.to_s(:datetime_jp) %></td>
      <td width="150" height="50" align="center"><%= reservation.end_date.to_s(:datetime_jp) %></td>
      <td width="150" height="50" align="center"><%= reservation.total_price %></td>
    </tr>
   <% end %>
  </table>
</div>